[user]
	name = blake.chambers
	email = blake.chambers@vecna.com
[color]
	ui = true
[push]
	default = simple
[alias]
        st = status
        pr = !git pull --rebase --autostash && git submodule update --init && git st
        ca = !git commit --amend --no-edit && git st
        ca-a = !git commit -a --amend --no-edit && git st
        ctime = !git commit --allow-empty -m "time-$(date +%s)" && git st

        lsm = !git config --file .gitmodules --get-regexp path | awk '{ print $2 }' && git st
        lvsm = !git config --file $VROS_PATH/.gitmodules --get-regexp path | awk '{ print $2 }' && git st
	lbr = branch -vv
	l1 = log -n1
	l3 = log -n3
        lgr = log --graph --decorate --
        pgr = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        dbr = !git branch -D && git lbr
	wc = whatchanged
	l1 = log -n1

        econf = config --global -e ~/.gitconfig
        draft = !$TARDIS/scripts/git-draft.sh
        proto = !$TARDIS/scripts/git-prototype.sh
        psh = !$TARDIS/scripts/git-push.sh && git st
        finda = !$TARDIS/scripts/git-finda.sh
